/******Home 1 Blog****/
#right_column_blog img {
    max-width: 100%;height: auto;
}
.image-blog-item img{max-width: 100%;}
.main-item-blog .image-blog-item {
    padding-top: 0;
    position: relative;
}
.main-item-blog .image-blog-item a {
    display: block;
    position: relative;
}

.entry-time-date.dblock {
    color: #ababab;
    font-size: 13px;
    font-style: italic;
    font-family: "Playfair Display",serif;
}
.info-blog-item h3.entry-title {
    margin: 0;
    padding-top: 10px;
}
.lists-item-blog .info-blog-item h3.entry-title {
    padding-top: 0;
}
.news-desc {
    color: #696969;
    font-size: 15px;
    margin: 0;
    padding: 15px 0;
}
.info-blog-item h3.entry-title a {
    color: #333;
    font-family: "Playfair Display",serif;
    font-weight: bold;
}
.lists-item-blog .info-blog-item h3.entry-title a{font-size: 16px;}
.info-blog-item .read-more-link {
    color: #696969;
    font-size: 14px;
    font-weight: 700;
    padding-left: 15px;
    position: relative;
    text-transform: uppercase;
}
.info-blog-item .read-more-link::after {
    content: "/";
    left: 5px;
    position: absolute;
    top: -3px;
}
.info-blog-item .read-more-link:hover{color: #8eb35a;}

.list-item-child {
    padding: 25px 0;
}
.list-item-child:first-child{padding-top: 0px;}
.list-item-child:last-child{padding-bottom: 0px;}
.blog-home-data {
    padding: 30px 0 100px;
}
.blog-home-data .fancy-heading {
    margin-bottom: 70px;
}
.info-blog-item h3.entry-title a:hover{color: #8eb35a;}
/**Style Blog 1**/
#dorhomeStyle1 .main-item-blog .info-blog-item {
    padding-right: 81px;
    padding-top: 10px;
}
#dorhomeStyle1 .main-item-blog .image-blog-item {
    padding-right: 101px;
}
#dorhomeStyle1 .main-item-blog .image-blog-item a::after {
    border-color: #f4f1e2;
    border-style: solid;
    border-width: 4px;
    content: "";
    height: 100%;
    left: 20px;
    position: absolute;
    top: -20px;
    width: 100%;
    z-index: -1;
}
/**Style Blog 2**/
#dorhomeStyle2 .main-item-blog .info-blog-item {
    padding-right: 0px;
    padding-top: 15px;
}
#dorhomeStyle2 .info-blog-item h3.entry-title a{font-size: 17px;}

/*****End Home Blog*****/

#dorhomeStyle2 .image-blog-item, #dorhomeStyle3 .image-blog-item{overflow: hidden;position: relative;}
    #dorhomeStyle2 .image-blog-item:after, #dorhomeStyle3 .image-blog-item:after{right: -100%;}
    #dorhomeStyle2 .image-blog-item:before, #dorhomeStyle3 .image-blog-item:before{left: -100%;}
    #dorhomeStyle2 .image-blog-item:after,
    #dorhomeStyle2 .image-blog-item:before,
    #dorhomeStyle3 .image-blog-item:after,
    #dorhomeStyle3 .image-blog-item:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      z-index: 97;
      top: 0;
      background-color: rgba(0, 0, 0, 0.2);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      opacity: 0; }
      #dorhomeStyle2 .main-item-blog:hover .image-blog-item:after,
      #dorhomeStyle2 .main-item-blog:hover .image-blog-item:before,
      #dorhomeStyle3 .main-item-blog:hover .image-blog-item:after,
      #dorhomeStyle3 .main-item-blog:hover .image-blog-item:before{
        opacity: 1 !important;
        visibility: visible !important;
      }
      #dorhomeStyle2 .main-item-blog:hover .image-blog-item:after, #dorhomeStyle3 .main-item-blog:hover .image-blog-item:after{right: 0px;}
      #dorhomeStyle2 .main-item-blog:hover .image-blog-item:before, #dorhomeStyle3 .main-item-blog:hover .image-blog-item:before{left: 0px;}

      #dorhomeStyle2 .image-blog-item a:before, #dorhomeStyle3 .image-blog-item a:before{
        z-index: 98;
        content: '+';
        font-size: 30px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 0;
        margin-left: -20px;
        opacity: 0;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }


        #dorhomeStyle2 .main-item-blog:hover .image-blog-item a:after, #dorhomeStyle3 .main-item-blog:hover .image-blog-item a:after {
    right: 0;
    opacity: 1; }
  #dorhomeStyle2 .main-item-blog:hover .image-blog-item a:before, #dorhomeStyle3 .main-item-blog:hover .image-blog-item a:before {
    opacity: 1;
    margin-top: -20px; }