@import url(https://fonts.googleapis.com/css?family=Domine:400,700);
@font-face {
    font-family: 'KrinkesDecorPERSONAL';
    src: url(../fonts/Krinkes/KrinkesDecorPERSONAL.ttf);
}
@font-face {
    font-family: 'KrinkesRegularPERSONAL';
    src: url(../fonts/Krinkes/KrinkesRegularPERSONAL.ttf);
}
body {font-family: 'Domine', sans-serif !important;}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Domine', serif;
}